node_modules/
yarn.lock
.nyc_output
coverage
package-lock.json
/test/integration/fixtures
.cache-eslint-remote-tester
eslint-remote-tester-results
*.log

# IntelliJ’s project specific settings files
.idea/
