# <%= docTitle %>

<!-- Do not manually modify RULE_NOTICE part -->
<!-- RULE_NOTICE -->
<!-- /RULE_NOTICE -->

<!-- Remove this comment, add more detailed description. -->

## Fail

```js
const foo = 'unicorn';
```

## Pass

```js
const foo = '🦄';
```
