import {outdent} from 'outdent';
import {test} from './utils/test.js';

const MESSAGE_ID = '<%= id %>';
const errors = [
	{
		messageId: MESSAGE_ID
	}
];

test({
	valid: [
		'const foo = \'🦄\';'
	],
	invalid: [
		{
			code: outdent`
				const foo = 'unicorn';
			`,
			output: outdent`
				const foo = '🦄';
			`,
			errors
		}
	]
});

test.snapshot([
	'const foo = \'unicorn\';'
]);
