import {outdent} from 'outdent';
import {getTester} from './utils/test.js';

const {test} = getTester(import.meta);

test.visualize({
	valid: [
		'const foo = \'🦄\';'
	],
	invalid: [
		{
			'const foo = \'unicorn\'
		}
	]
});
