name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 16
          - 14
          - 12
        os:
          - ubuntu-latest
          - windows-latest
        exclude:
          - os: ubuntu-latest
            node-version: 16
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --force
      - run: npx ava
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install --force
      - run: npx xo
      # Force update snapshots, https://github.com/avajs/ava/discussions/2754
      - run: npx nyc ava --update-snapshots
        env:
          AVA_FORCE_CI: not-ci
      - run: npm run generate-rules-table
      - run: npm run generate-usage-example
      - run: git diff --exit-code --name-only
      - uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
  run-rules-on-codebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm install --force
      - run: npm run run-rules-on-codebase
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm install --force
      - run: npm run integration
