name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 16
          - 14
        os:
          - ubuntu-latest
          - windows-latest
        exclude:
          - os: ubuntu-latest
            node-version: 16
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npx ava
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run lint
      - run: rm -rf test/snapshots
      - run: npx c8 ava --update-snapshots
      - run: git diff --exit-code
      - uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
  run-rules-on-codebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run run-rules-on-codebase
  integration:
    name: Integration test (${{ matrix.group }})
    strategy:
      fail-fast: false
      matrix:
        group:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          - "12"
          - "13"
    env:
      TIMING: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run integration -- --group ${{ matrix.group }}
