name: Smoke test

on:
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: |
          npm install --legacy-peer-deps
          npm link
          npm link eslint-plugin-unicorn
      - uses: AriPerkkio/eslint-remote-tester-run-action@v4
        with:
          issue-title: "Results of weekly scheduled smoke test"
          eslint-remote-tester-config: test/smoke/eslint-remote-tester.config.js
