name: Smoke test

on:
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install
      - uses: AriPerkkio/eslint-remote-tester-run-action@v5
        with:
          issue-title: "Results of weekly scheduled smoke test"
          eslint-remote-tester-config: test/smoke/eslint-remote-tester.config.js
